*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f5f7fb;
display:flex;
justify-content:center;
padding:40px;
}

.container{
width:700px;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

h1{
text-align:center;
margin-bottom:25px;
}

.input-section{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
padding:12px;
border:1px solid #ddd;
border-radius:8px;
font-size:16px;
}

#taskInput{
flex:1;
}

button{
cursor:pointer;
border:none;
padding:12px 18px;
border-radius:8px;
}

#addBtn{
background:#007bff;
color:white;
}

#addBtn:hover{
background:#0056b3;
}

#search{
width:100%;
margin-bottom:20px;
}

.filters{
display:flex;
justify-content:center;
gap:15px;
margin-bottom:20px;
}

.filter{
background:#eee;
}

.filter.active{
background:#007bff;
color:white;
}

ul{
list-style:none;
}

li{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
margin-bottom:12px;
background:#fafafa;
border-radius:10px;
border:1px solid #ddd;
}

.task{
display:flex;
align-items:center;
gap:12px;
}

.completed span{
text-decoration:line-through;
color:gray;
}

.actions{
display:flex;
gap:10px;
}

.edit{
background:orange;
color:white;
}

.delete{
background:red;
color:white;
}

@media(max-width:600px){

.container{
width:100%;
}

li{
flex-direction:column;
align-items:flex-start;
gap:10px;
}

.actions{
width:100%;
justify-content:flex-end;
}

}